[MASTER]
load-plugins = pylint.extensions.check_elif

[MESSAGES CONTROL]
disable =
    consider-using-f-string,
    invalid-name,
    no-else-return,
    raise-missing-from,
    redundant-u-string-prefix,
    too-few-public-methods,

[BASIC]
# the API is quite evident
no-docstring-rgx = .*

[DESIGN]
max-branches = 15

[REPORTS]
reports = no
score = no
msg-template = {path}:{line}: {C}: {symbol} [{obj}] {msg}

[FORMAT]
max-line-length = 120
expected-line-ending-format = LF

# vim:ft=dosini ts=4 sts=4 sw=4 et
